composer.*
.DS_Store
images/.DS_Store
images/clear.png
images/cloudy.png
images/cloudy-scattered-showers.png
images/cloudy_s_sunny.png
images/fog.png
images/partly-cloudy.png
images/rain.png
images/scattered-showers.png
images/sleet.png
images/snow.png
images/thunderstorm.png
images/wind.png
