.butOnOff {
  position: fixed;
  top: 33%;
}
.cam-btn-container {
  z-index: 10;

}
#preview {
  position: fixed;
  margin: 0px;
  z-index: 9;  
}
.mdl-button--icon {
  margin-left: .5em;
}

.mdl-grid.center-items {
  justify-content: center;
}
.demo-card-wide.mdl-card {
  width: 100%;
}