.butOnOff {
  /* position: fixed; */
  display: flex;
  margin-top: 3em;
  top: 33%;
}
.cam-btn-container {
  z-index: 10;
}
#preview {
  position: fixed;
  margin: 0px;
  z-index: 9;  
}
.mdl-button--icon {
  margin-left: .5em;
}
.ButtonPower i {
  transition: color .35s ease-out;
}
.show-info {
  background: rgb(0, 127, 255);
}
.mdl-grid.center-items {
  justify-content: center;
}
.demo-card-wide.mdl-card {
  width: 100%;
}
main {
  transition: background-color .35s ease-out;
}

#user-profile {
  display: none;
}

.bg_notok {
  background: red no-repeat 50% url(../images/notok.png);
}
.bg_ok {
  background: lime no-repeat 50% url(../images/ok.png);
}
#on-off-txt h4 {
  margin-bottom: 0em;
}
#on-off-txt h4 i {
  color: yellow;
}
#on-off-txt p {
  text-align: center;
  margin: 0em 3em;
}
.tcat1 {
  background-color: rgb(131,216,250);
}
.tcat3 {
  background-color: rgb(187, 179, 217);
}
.tcat12 {
  background-color: rgb(255,255,127);
}
